COMPOSE_PROJECT_NAME=event-driven-audio-analytics
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_NODE_ID=1
KAFKA_BROKER_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=9093
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
POSTGRES_DB=audio_analytics
POSTGRES_USER=audio_analytics
POSTGRES_PASSWORD=audio_analytics
TIMESCALEDB_PORT=5432
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
ARTIFACTS_ROOT=/app/artifacts
RUN_ID=demo-run
